body {
    align-items: flex-start;
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    padding: 20px;
}

.title {
    font-family: 'Staatliches', sans-serif;
    font-size: 1.2em;
}

canvas {
    background: #000;
    touch-action: none;
}

.sidebar {
    border: 2px solid #05b;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.pen-controls {
    margin-top: 0;
}

.sidebar > button {
    margin: 5px;
}

li {
    list-style: none;
}

.saved-drawing {
    background: #05b;
    display: flex;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5px;
    padding: 5px;
}

.saved-drawing:hover {
    background: #07e;
    cursor: pointer;
}

.trash-button {
    background: #fff;
    color: #05b;
    padding-left: 5px;
    padding-right: 5px;
}

.trash-button:hover {
    background: #f00;
    color: #fff;
}
